<h1>Directives</h1>

<div>
  <h2>Attribute Directives</h2>
  <p appBasicHighlight>This is a basic attribute directive</p>
  <p appRendererHighlight>This is a better way to write attribute directives using Renderer</p>
  <p appHostBindingHighlight>This uses HostBinding, removing the need to use Renderer</p>

  <p appInteractiveAttributeDirective>This uses an interactive attribute directive</p>

  <!-- directive binding variations -->
  <p appCustomizableHighlight backgroundColor="yellow" [textColor]="'green'">Yellow background</p>
  <p appCustomizableHighlight [backgroundColor]="highlightColor">Yellow background</p>

  <!-- Simultaneously apply the directive and the background color in the same attribute -->
  <p [appCustomizableShorthandHighlight]="{backgroundColor: highlightColor, textColor: 'red'}">Shorthand</p>

</div>


<div>
  <h2>Structural Directives</h2>

  <h3>What's with the asterisk</h3>
  <app-whats-with-the-asterisk></app-whats-with-the-asterisk>

  <h3>NgSwitch</h3>
  <app-ng-switch></app-ng-switch>

  <h3>&lt;ng-template&gt;</h3>
  <app-ng-template></app-ng-template>

  <h3>&lt;ng-container&gt;</h3>
  <app-ng-container></app-ng-container>

  <h3>UnlessDirective</h3>
  <p *appUnless="true">This will never see the light of day :(</p>
  <p *appUnless="false">It's show time!</p>
</div>


<div>
  <h2>Dropdown Directive</h2>

  <div class="dropdown" appDropdown>
    <button>Show Dropdown</button>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </div>
</div>
